* {
    margin: 0;
    padding: 0;
}
#myFooter {
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    height: 50px;
    text-align: center;
    font-size: 1.4rem;
}

#myHeader {
    background-color: #ff99cc;
    height: auto;
}

#myHeader h1 {
    text-align: center;
    padding: 8px;
}

#myDiv {
    padding: 30px;
}

#myInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#myPassWrd {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#logInBtn {
    width: 100%;
    background-color: #b30059;    
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#logInBtn:hover {
    background-color: #800040;
}

#logOut {
    width: 100%;
    background-color: #b30059;    
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#logOut:hover {
    background-color: #800040;
}

#contentTitle {
    text-align: center;
}

#contentText {
    text-align: center;
}

#content {
    text-align: center;
    padding-top: 10px;
}